<%= div_for article do %>
<h3>
<%= link_to article.title, article %>
<span class='actions'>
<%= link_to "Edit", edit_article_path(article) %>
<%= link_to "Delete", article, :confirm => "Are you sure?",
:method => :delete %>
</span>
</h3>
<%= article.body %>
<% end %>